    <footer class="page-footer blue">
        <div class="container">
            <div class="row">
                <div class="col l6 s12 m12">
                    <h5 class="white-text">About Me</h5>
                    <p class="grey-text text-lighten-4">
                        I am a 3rd year undergraduate student at UQ, studying Electrical Engineering and Computer Science. I create occasional projects, such as this, in my spare time.
                    </p>
                </div>
                <div class="col l6 s12 m12 hide-on-med-and-up">
                    <h5 class="white-text">Contact Me</h5>
                    <p class="grey-text text-lighten-4">
                        <a class="grey-text text-lighten-4" href="mailto:josephgarrone+uqparking@gmail.com">josephgarrone+uqparking@gmail.com</a>
                    </p>
                </div>
                <div class="col l6 s12 m12 hide-on-med-and-down">
                    <h5 class="white-text right-align">Contact Me</h5>
                    <p class="grey-text text-lighten-4 right-align">
                        <a class="grey-text text-lighten-4" href="mailto:josephgarrone+uqparking@gmail.com">josephgarrone+uqparking@gmail.com</a>
                    </p>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
                <div class="row">
                    <div class="col l6 m6 s6">
                        Theme by <a class="white-text darken-4" href="http://materializecss.com">Materialize</a>
                    </div>
                    
                    <div class="col l6 m6 s6">
                        <span class="right">Not an official <a class="white-text darken-4" href="http://uq.edu.au">UQ</a> site</span>
                    </div>    
                </div>
            </div>
        </div>
    </footer>

    <!--  Scripts-->
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="https://www.gstatic.com/charts/loader.js"></script>
    <script src="materialize/js/materialize.js"></script>
    <script src="js/initMaterialize.js"></script>
    <script src="js/charts.js"></script>

    <!-- Tracking -->
    <script>
    (function() {
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-67473369-3', 'auto');
        ga('send', 'pageview');
    
    })()    
    </script>
</body>
</html>