<%- include shared/head.ejs %>

<div class="container">
    <div class="section">

        <div class="row">
            <div class="col s12 m12 l6">
                <h5>
                    Parking Stats
                </h5>
            </div>
            <div class="input-field col s6 m6 l3">
                <select>
                    <option value="" disabled selected>Select carpark</option>
                    <option value="1">Conifer Knoll</option>
                    <option value="2">Dustbowl</option>
                    <option value="3">Multilevel</option>
                </select>
            </div>
            
            <div class="input-field col s6 m6 l3">
                <select>
                    <option value="" disabled selected>Select graph type</option>
                    <option value="1">Line</option>
                    <option value="2">Bar</option>
                    <option value="3">Column</option>
                </select>
            </div>
        </div>
        
        <div class="row">
            <div class="col s12 m12 l12">
                <div id="line_top_x"></div>
            </div>
        </div>

    </div>
    <br>
    <br>
</div>

<%- include shared/foot.ejs %>